.main-container {
	display:flex;
	flex-direction:column;
	justify-content:space-between; 
	align-items:center;
	
	width:100%;
	height:100%;
}
.page-header {
	display:flex;
	justify-content:center;
	align-items:center;
	
	border:solid 1px black;
	width:100%;
}
.menu-container {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	
	border:solid 1px black;
}
.search-container {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;

	border:solid 1px black;
	width:100%;
}
.data-container {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	
	border:solid 1px black;
	width:100%;
}
.footer {
	display:flex;
	justify-content:center;
	align-items:center;

	border:solid 1px black;
	width:100%;
}

.menu-op {
	border:solid 1px black;
}
#player-op {
}
#season-av-op {
}
#all-time-op {
}

.search-box {
	border:solid 1px black;
}
#p1-search {
}
#p2-search {
}

.data-box {
	border:solid 1px black;
}
.data-vars {
}
#p1-data {
}
#p2-data {
}

